#header {
    background-color: black;
}
#header h1 {
    font-family: 'Righteous', cursive;
    color: #F19F3A;
}
#logo img {
    max-height: 150px;
}
#bigContainer {
    height: auto;
    min-height: calc(100vh - 150px);
    background-image: url(../images/BGTile1.jpg);
}
.choose {
    height: auto;
}
.choose h2 {
    color: #A9310A;
    text-shadow: 2px 2px 2px #F19F3A;
}
.tile {
    width: 150px;
    text-align: center;
    margin: 5;
}
.tile:hover {
    box-shadow: 0px 0px 10px 10px #a9810a;
}
.tile img {
    width: 125px;
    margin: 0
}
#fightingContainer {
    margin: auto;
    text-align: center;
    min-height: 300px;
    
}
.champion h3, .adversary h3 {
    color: #A9310A;
    text-shadow: 2px 2px 2px #F19F3A;   
    

}
.champion, .adversary {
    width: 33%;
    
}
#audioButton {
    margin: auto;
}



@media (max-width: 768px) {
    html {
      font-size: .75rem;
    }
    .tile img {
        max-width: 150px;
    }
    #champion img, #adversary img {
        max-width: 100px;
    }
}

